* {
    box-sizing: border-box;
}

:root {
    --color-Stone-100: #f3e6d8;
    --color-Stone-150: #e4ded8;
    --color-Stone-600: #5f574e;
    --color-Stone-900: #302d2c;

    --color-Brown-800: #854632;

    --color-Rose-50: #fff5fa;
    --color-Rose-800: #7b284f;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Outfit", sans-serif;
    background: var(--color-Stone-100);
    /* font-family: "Young Serif", serif; */
}
h1,
h2 {
    font-family: "Young Serif", serif;
}
b {
    font-weight: 600;
    color: var(--color-Stone-800);
}
ol {
    font-family: inherit;
    list-style-type: decimal;
}
span {
    font-weight: 400;
    color: var(--color-Stone-600);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 1440px;
    max-width: calc(100% - 40px);
    margin: 0 auto;
}

.card {
    margin: 60px 0;
    width: 736px;
    padding: 40px;
    border-radius: 24px;
    background: #fff;
}
.card--img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 40px;
}

.title {
    color: var(--color-Stone-900);
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 24px;
}

.desc {
    font-weight: 300;
    color: var(--color-Stone-600);
    line-height: 1.5;
}

.prepa {
    background: var(--color-Rose-50);
    margin-top: 32px;
    padding: 28px;
}

.prepa--title {
    font-family: inherit;
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-Rose-800);
    margin-bottom: 16px;
}
.prepa--list .prepa--item:nth-child(2) {
    margin: 8px 0;
}

.prepa--item {
    position: relative;
    padding-left: 40px;
}

.prepa--item::before {
    display: inline-block;
    position: absolute;
    content: "";
    height: 4px;
    width: 4px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    border-radius: 99px;
    background: var(--color-Rose-800);
}

.cate {
    margin-bottom: 24px;
    font-size: 2.8rem;
    font-weight: 400;
    color: var(--color-Brown-800);
}

.ingred,
.instruc {
    margin-top: 32px;
    margin-bottom: 32px;
}
.ingred--item {
    position: relative;
    padding-left: 28px;
    margin-top: 8px;
}
.ingred--item span {
    line-height: 1.5;
}

.ingred--list .ingred--item:first-child {
    margin-top: 0px;
}
.ingred--item::before {
    display: inline-block;
    position: absolute;
    content: "";
    height: 4px;
    width: 4px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    border-radius: 99px;
    background: var(--color-Rose-800);
}

.line {
    background-color: var(--color-Stone-150);
    height: 1px;
    width: 100%;
}
.instruc--list {
    margin-left: 10px;
    padding: 0 1rem;
}

.instruc--list .ingred--item:first-child {
    margin-top: 0px;
}
.instruc--item {
    margin-top: 8px;
}
.instruc--item p {
    line-height: 1.5;
    margin-left: 16px;
    font-weight: 400;
    color: var(--color-Stone-600);
}
.instruc--item::marker {
    font-weight: 500;
    color: var(--color-Brown-800);
}

.nutri {
    margin-top: 32px;
}

.nutri--table {
    width: 100%;
    margin-top: 24px;
}
.nutri--table td {
    padding: 12px 0px 12px 32px;
    border-bottom: 1px solid var(--color-Stone-150);
}

.table--name {
    color: var(--color-Stone-600);
    line-height: 1.5;
}

.table--ovr {
    color: var(--color-Brown-800);
    font-weight: 700;
}
